body {
    margin: 0;
    padding: 0;
    display: flex;    
    height: 100vh;
    background: #f0f0f000;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 23.5);
    font-weight: bold;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: left; /* Default alignment */
    justify-content: top; /* Center vertically */
    height: 100%;
    width: 100%;
    text-align: left; /* Default text alignment */
    color: rgb(255, 255, 255);
}

#clock {
    font-size: 4em;
    margin-bottom: -10px;
    
}
#date {
    font-size: 2.20em;
    margin-top: -10px;
    
}
.centered {
    align-items: center !important;
    text-align: center !important;
}
.righted {
    align-items: right !important;
    text-align: right !important;
}


.single-line {
    display: inline-block; /* Change to inline-block to force vertical stacking */
}
.single-line #clock,
.single-line #date {
    display: block; /* Ensure each is on a new line */
    margin: 0; /* Remove any default margins */
}
